
body.darkmode {
    background: rgb(40, 40, 40);
    color: rgb(227, 227, 227);
}

body.darkmode a{
    color: rgb(227, 227, 227);
}
.is-hidden{
    display: none;
}
#theme {
  font-size: 20px;
}
#theme:hover {
  cursor: pointer;
}

.darkmode nav{
	background: rgb(57, 57, 57);
	box-shadow: 0 0 5px #282828;
}
.darkmode .nav-formsearch form button{
    color: rgb(227, 227, 227);

}
.darkmode .nav-formsearch form input{
	border: 2px solid #F806CC;
}
.darkmode .nav-keranjang i{
    color: #F806CC;
}
.darkmode .nav-keranjang a div{

    background: #F806CC;
    border: .5px solid rgb(40, 40, 40);
}
.darkmode .nav-hamburger i{
	color: #F806CC;
}
.darkmode .nav-kategori div h2{
	color: #F806CC;
}
.darkmode .header-produk h1{
	color: #F806CC;
}

.darkmode .list-kategori ul{
    color: rgb(227, 227, 227);
    background: rgb(40, 40, 40);
}
.darkmode .list-kategori ul a{
    color: #F806CC;
}
.darkmode .list-kategori ul a:hover{
    background: #F806CC;
    color: white;
    
}
@media only screen and (max-width: 878px){

    .darkmode .list-kategori-mobile ul{

        background: rgb(40, 40, 40);

    }
    .darkmode .list-kategori-mobile ul a{

        color: #F806CC;
    }
    .darkmode .list-kategori-mobile ul a:hover{
        background: #F806CC;
        color: white;
    }

}

.darkmode .produk-box{
	color: rgb(227, 227, 227);
	background: rgb(57, 57, 57);
  	box-shadow: 0 4px 8px 0 #282828, 0 6px 20px 0 rgb(57, 57, 57);
}
.darkmode .produk-box h2{
	color: rgb(227, 227, 227);
}
.darkmode .produk-box h3{
	
}
.darkmode .produk-box a:hover {
	box-shadow: 0 3px 8px 3px rgb(30, 30, 30), 0 6px 20px 0 rgb(40, 40, 40);
}

.darkmode footer{

    background: rgb(57, 57, 57);
	box-shadow: 0 0 5px #282828;
   
}
.darkmode .footer-section h3{
	color: white
}
.darkmode .footer-section div{
    background: #A91079;
}
.darkmode .footer-section div:hover {
    color: #A91079;
    background-color: #282828;
    box-shadow: 0 0 5px #282828;
}
.darkmode .footer-section:nth-last-child(1){
    background: #A91079;
    color: #fff;

}
