.container-payment{
	font-family: 'Quicksand', sans-serif;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    max-width: 1000px;
    min-height: 600px;
    gap: 20px;
    margin: 0 auto;
}


div.wrapper-cart {
	min-height: auto;
	position: relative;
	margin: 0 auto;
	width: 100%;
}

div.wrapper-payment div.navigation{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
	align-items: center;
	padding: 8px 0;
}

div.wrapper-payment div.navigation a {
	font-size: 15px;
	font-weight: 700;
	letter-spacing: -.5px;
}

div.wrapper-payment div.navigation i {
	font-size: 16px;
	color: #9FA6B0;
}

.wrapper-payment > .core-payment{
	width: 100%;
	padding: 0 10px;
}

.payment-total {
	margin-top: 35px;
	width: 500px;
	height: max-content;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 8px 3px lightgrey, 0 6px 20px 0 #EEEEEE;
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	flex-wrap: nowrap;
}


.payment-total > .title{
	font-size: 20px;
	color: #222;
	font-weight: 700;
}

.payment-total > .list{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 15px;
	font-weight: 600;
}
.payment-total > .list:nth-child(3){
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #cecece;
}
.payment-total > .list:nth-child(3) > p:nth-child(2){
	color: #000000;
	font-size: 18px;
	font-weight: 700;
}

.payment-total > .lanjut > button{
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #E88D2F;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}
.payment-total > .lanjut > button:hover{
	box-shadow: -2px 2px 3px #d1d1d1;
}

.payment-total > .belanja > button{
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #cecece;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}



div.wrapper-payment {
	display: flex;
	flex-direction: row;
	height: auto;
	justify-content: space-between;
	margin: auto;
	margin-bottom: 70px;
	margin-top: 40px;
	position: relative;
	width: 1100px;
}

div.wrapper-payment div.core-payment {
	height: auto;
	width: 650px;
}

div.wrapper-payment div.core-payment div.line {
	background-color: #dddddd;
	border-radius: 20px;
	height: 3px;
	margin-bottom: 20px;
	width: 100%;
}

div.wrapper-payment div.core-payment div.products {
	width: 100%;
}

div.wrapper-payment div.core-payment div.products table {
	border: none;
}

div.wrapper-payment div.address h2.title {
	color: #333333;
	font-size: 20px;
}

div.wrapper-payment div.total {
	align-self: flex-start;
	border-radius: 5px;
	/* box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.1); */
	box-sizing: border-box;
	height: auto;
	margin-bottom: 50px;
	padding: 20px;
	position: sticky;
	top: 90px;
	width: 410px;
}

div.wrapper-payment div.total {
	align-self: flex-start;
	border-radius: 5px;
	/* box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.1); */
	box-sizing: border-box;
	height: auto;
	margin-bottom: 0px;
	margin-top: 30px;
	padding: 20px;
	position: sticky;
	top: 90px;
	width: 400px;
}

div.wrapper-payment h2.title {
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
}

div.wrapper-payment div.total div.list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div.wrapper-payment div.total div.list p {
	color: #333333;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	margin-bottom: 5px;
}

@media screen and (max-width: 1150px) {
	div.wrapper-payment {
		width: 900px;
	}

	div.wrapper-payment div.core-payment {
		width: 450px;
	}
}

@media screen and (max-width: 950px) {
	div.wrapper-payment {
		display: block;
		width: 90%;
	}

	div.wrapper-payment div.core-payment {
		display: block;
		width: 100%;
	}

	div.wrapper-payment div.total {
		display: block;
		width: 100%;
	}
}
