button {
    outline-style: none;
    border-style: none;
}

.container-produk{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 20px;
    margin: 5% auto;
    width: 90%;
    align-items: center;
}

.produk{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 485px;
    gap: 20px;
}

.gambar{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 400px;
    height: 485px;
    gap: 5px;
}

.gambar-besar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.gambar-besar > .produk1 > img,
.gambar-besar > .produk2 > img,
.gambar-besar > .produk3 > img{
    display: block;
    width: 400px;
    height: 400px;
    object-fit: fill;
    color: transparent;
    display: none;
    border-radius: 10px;
}
.gambar-besar > .produk1.aktif > img,
.gambar-besar > .produk2.aktif > img,
.gambar-besar > .produk3.aktif > img{
    display: inline;
    box-shadow: 0 0 0 3px #F8F8F8,
                0 0 0 3.5px #E88D2F;
}

.list-gambar{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    height: max-content;
    gap: 20px;
    justify-content: center;
    color: transparent;
}

.list-gambar > .produk1,
.list-gambar > .produk2,
.list-gambar > .produk3{
    padding: 12px 0;
}

.list-gambar > .produk1 > img,
.list-gambar > .produk2 > img,
.list-gambar > .produk3 > img{
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 0 3px #F8F8F8,
                0 0 0 4px #cecece;
    transition: .2s;
}
.list-gambar > .produk1 > img:hover,
.list-gambar > .produk2 > img:hover,
.list-gambar > .produk3 > img:hover{
    box-shadow: 0 0 0 3px #F8F8F8,
                0 0 0 4px #E88D2F;
}

.list-gambar > .produk1.aktif > img,
.list-gambar > .produk2.aktif > img,
.list-gambar > .produk3.aktif > img{
    box-shadow: 0 0 0 3px #F8F8F8,
                0 0 0 5px #E88D2F;
}

.harga {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: #fff;
    box-shadow: 0 0 0 3px #F8F8F8,
                0 0 0 3.5px #E88D2F;
    border-radius: 10px;
    padding: 12px;
    font-family: 'Quicksand', sans-serif;
    color: #444;
    gap: 15px;
    height: max-content;
}

.harga > .stok-status{
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: 500;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
}

.harga > .judul {
    font-size: 22px;
    font-weight: 700;
    padding: 0 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cecece;
}

.harga > .rp{
    font-size: 28px;
    font-weight: 700;
    color: #FF1E00;
    padding: 0 5px;
    padding-bottom: 10px;
}

.harga > .stok{
    padding: 0 5px;
    padding-bottom: 10px;
}
.harga > .quant{
    padding: 0 5px;
    padding-bottom: 10px;
}

.quant{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.counter {
    display: flex;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    background: transparent;
    color: #E88D2F;
    appearance: none;
    outline: 0;
    border: 1px solid #E88D2F;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.counter input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.counter button {
    display: block;
    font-size: 20px;
    padding: 2px 10px;
    cursor: pointer;
    color: #fff;
    user-select: none;
    background-color: #E88D2F;
    transition: .2s;
}
.counter button:active{
    color: #E88D2F;
    background-color: #fff;
    outline: 1px solid #E88D2F;
}

.counter button:nth-child(1) {
    border-radius: 5px 0 0 5px;
}
.counter button:nth-child(3) {
    border-radius: 0 5px 5px 0;
}

.harga > .kirim{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    width: 100%;
    height: max-content;
}

.harga > .kirim > .beli{
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    background: #E88D2F;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.harga > .kirim > .keranjang{
    width: 50%;
    font-size: 16px;
    font-weight: 700;
    background: #fff;
    color: #E88D2F;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #E88D2F;
    cursor: pointer;
}

.detail{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    box-shadow: 0 0 0 3px #F8F8F8,
                0 0 0 3.5px #E88D2F;
    border-radius: 10px;
    padding: 10px;
}

.detail > .judul{
    font-family: 'Quicksand', sans-serif;
    color: #444;
    border-bottom: 1px solid #cecece;
    padding: 15px 10px;
    font-size: 20px;
    font-weight: 700;
}

.detail > .ket > textarea{
    width: 100%;
    height: 500px;
    resize: none;
    outline-style: none;
    border-style: none;
    font-family: 'Quicksand', sans-serif;
    color: #444;
    padding: 0 10px;
    line-height: 25px;
    letter-spacing: 0.8px;
    font-weight: 500;
    font-size: 15px;
}