button {
    outline-style: none;
    border-style: none;
}

.container-produk{
    font-family: 'Quicksand', sans-serif;
	color: #444;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    width: 1070px;
	min-height: 60vh;
    margin: 60px auto;
	padding: 0 20px;
}

.navigation{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
	align-items: center;
	padding: 8px 0;
    margin-bottom: 5px;
}

.navigation a{
    font-size: 15px;
	font-weight: 700;
	letter-spacing: -.5px;
}
.navigation i{
    font-size: 16px;
	color: #9FA6B0;
}

.produk{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 485px;
    gap: 20px;
    margin-top: 5px;
}

.gambar{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 400px;
    height: 500px;
    gap: 10px;
}

.gambar1 img {
    height: 400px;
	width: 400px;
	object-fit: fill;
    color: transparent;
    border-radius: 5px;
	background-color: #FFF;
}

.list-gambar{
    display: flex;
	flex-direction: row;
    justify-content: flex-start;
	height: max-content;
	margin-top: 10px;
	overflow: auto;
	width: 100%;
    color: transparent;
    position: relative;
    flex-wrap: nowrap;
    padding: 5px;
    gap: 15px;
}

.list-gambar::-webkit-scrollbar {
    height: 5px;
}
.list-gambar::-webkit-scrollbar-track {
    background: transparent;
}
.list-gambar::-webkit-scrollbar-thumb {
    background: #a7a6a6;
    border-radius: 50px;
}
.list-gambar::-webkit-scrollbar-thumb:hover {
    background: #717171;
}
@media (max-width: 425px) {
	.list-gambar::-webkit-scrollbar-track {
		background: transparent;
		width: 2px;
	}
}

.list-gambar img {
	border-radius: 5px;
	cursor: pointer;
    width: 60px;
    height: 60px;
}

.list-gambar img:hover {
	filter: brightness(0.8);
    outline: 2px solid #E88D2F;
}

.produk{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 485px;
    gap: 20px;
}

.gambar{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 400px;
    height: 485px;
    gap: 5px;
}


.harga {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: #fff;
    border-radius: 5px;
    box-shadow: -1px 1px 3px #cacacb;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    color: #444;
    gap: 15px;
    height: max-content;
    width: 100%;
}

.harga > .stok-status{
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: 500;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
}

.harga > .judul {
    font-size: 21px;
    font-weight: 700;
    padding: 0 5px;
}

.harga > .info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #E88D2F;
}


.harga > .rp{
    font-size: 30px;
    font-weight: 700;
    color: #FF1E00;
    padding: 0 10px;
    padding-bottom: 10px;
}

.harga > .quant{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.harga > .quant > .stok{
    padding: 6px;
    font-size: 14px;
    font-weight: 700;
    color: #E88D2F;
}

.harga > .quant{
    padding: 0 5px;
    padding-bottom: 10px;
}

.quant{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.counter {
    display: flex;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    background: transparent;
    color: #E88D2F;
    appearance: none;
    outline: 0;
    border: 1px solid #E88D2F;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}
.counter input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.counter span {
    display: block;
    font-size: 20px;
    padding: 2px 10px;
    cursor: pointer;
    color: #fff;
    user-select: none;
    background-color: #E88D2F;
    transition: .2s;
}
.counter span:active{
    color: #E88D2F;
    background-color: #fff;
    outline: 1px solid #E88D2F;
}

.counter span:nth-child(1) {
    border-radius: 5px 0 0 5px;
}
.counter span:nth-child(3) {
    border-radius: 0 5px 5px 0;
}

.harga > .kirim{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    width: 100%;
    height: max-content;
}

.harga > .kirim > .beli-kosong,
.harga > .kirim > .beli{
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    background: #E88D2F;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.harga > .kirim > .keranjang-kosong:hover,
.harga > .kirim > .keranjang:hover,
.harga > .kirim > .beli-kosong:hover,
.harga > .kirim > .beli:hover{
    box-shadow: -1px 1px 3px #cacacb;
}

.harga > .kirim > .keranjang-kosong,
.harga > .kirim > .keranjang{
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    background: #fff;
    font-family: 'Quicksand', sans-serif;
    color: #E88D2F;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #E88D2F;
    cursor: pointer;
}

.harga > .kirim > .beli-kosong{ background: #ccc; }
.harga > .kirim > .keranjang-kosong{ border: 1px solid #ccc; color: #ccc; }


.detail{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    box-shadow: -1px 1px 3px #cacacb;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    margin: 25px auto;
}

.detail > .judul{
    font-family: 'Quicksand', sans-serif;
    color: #444;
    border-bottom: 1px solid #cecece;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

.detail > .ket{
    font-family: 'Quicksand', sans-serif;
    color: #444;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.8;
    padding: 0 5px;
}

@media (max-width: 1070px) {
	.container-produk{
        width: 100vw;
    }
}
@media (max-width: 900px) {
	.harga > .kirim{
        flex-direction: column;
        gap: 15px;
    }
}
@media (max-width: 820px) {
	.gambar{
        width: 350px;
        height: 450px;
        gap: 8px;
    }
    .gambar1 img {
        height: 350px;
        width: 350px;
    }
    .list-gambar{
        gap: 10px;
    }
    .list-gambar img {
        border-radius: 5px;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
    .list-gambar::-webkit-scrollbar {
        height: 3px;
    }
}
@media (max-width: 768px) {
    .harga {
        margin-top: -50px;
    }
	.container-produk{
        margin: 80px auto;
    }
    .produk{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
        min-height: 485px;
        gap: 10px;
        margin-top: 5px;
    }
    .gambar{
        width: 100%;
        height: max-content;
        gap: 8px;
    }
    .gambar1 img {
        width: 100%;
        height: 40vh;
        object-fit: contain;
        box-shadow: -1px 1px 3px #cacacb;
    }
    .list-gambar{
        margin: 0;
        position: relative;
        background: #3b3b3b54;
        top: -65px;
        gap: 15px;
        border-radius: 0 0 5px 5px;
    }
    .list-gambar img {
        border-radius: 5px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        box-shadow: none;
    }
    .list-gambar::-webkit-scrollbar {
        height: 3px;
    }
    .navigation{
        display: none;
    }
}

@media (max-width: 414px) {
    .harga > .judul {
        font-size: 18px;
        font-weight: 700;
        padding: 0 5px;
    }
    
    .harga > .rp{
        font-size: 25px;
        font-weight: 700;
        color: #FF1E00;
        padding: 0 10px;
        padding-bottom: 10px;
    }

    .harga > .kirim{
        gap: 5px;
    }
    
    .harga > .kirim > .beli-kosong,
    .harga > .kirim > .beli{
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Quicksand', sans-serif;
        background: #E88D2F;
        color: #fff;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .harga > .kirim > .keranjang-kosong,
    .harga > .kirim > .keranjang{
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        background: #fff;
        font-family: 'Quicksand', sans-serif;
        color: #E88D2F;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #E88D2F;
        cursor: pointer;
    }

    .harga > .kirim > .beli-kosong{ background: #ccc; }
    .harga > .kirim > .keranjang-kosong{ border: 1px solid #ccc; color: #ccc; }

    .harga > .quant {
        padding: 0;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .quant-label {
        font-size: 14px;
    }
    .quant{
        gap: 8px;
    }
    .harga > .quant > .stok {
        font-size: 13px;
    }
    .counter input {
        width: 40px;
        line-height: 20px;
        font-size: 14px;
    }
    
    .counter span {
        display: block;
        font-size: 20px;
        padding: 3px 8px;
        cursor: pointer;
        color: #fff;
    }
    .detail > .ket {
        font-size: 12px;
        font-weight: 700;
    }
}